<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TimeLine</title>
  <link rel="stylesheet" href="css/timeline.css" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1 id="">Timeline</h1>
    </div>
    <div id="timeline">
      <div class="row timeline-movement timeline-movement-top">
        <div class="timeline-badge timeline-future-movement">
          <a href="#">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        </div>
        <div class="timeline-badge timeline-filter-movement">
          <a href="#">
            <span class="glyphicon glyphicon-time"></span>
        </a>
        </div>

      </div>
      <div class="row timeline-movement">

        <div class="timeline-badge">
          <span class="timeline-balloon-date-day">04</span>
          <span class="timeline-balloon-date-month">JUN</span>
        </div>


        <div class="col-sm-6  timeline-item">
          <div class="row">
            <div class="col-sm-11">
              <div class="timeline-panel credits">
                <ul class="timeline-panel-ul">
                  <li><span class="importo">끝을 향하다.</span></li>
                  <li><span class="causale">프로젝트 마감의 끝을 향해<br>3vs3 화이팅!!</span> </li>
                  <li>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-6  timeline-item">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
              <div class="timeline-panel debits">
                <ul class="timeline-panel-ul">
                  <li><span class="importo">9th, Jun</span></li>
                  <li><span class="causale">프로젝트 DeadLine...</span> </li>
                  <li>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!--due -->

      <div class="row timeline-movement">


        <div class="timeline-badge">
          <span class="timeline-balloon-date-day">19</span>
          <span class="timeline-balloon-date-month">MAY</span>
        </div>

        <div class="col-sm-offset-6 col-sm-6  timeline-item">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
              <div class="timeline-panel debits">
                <ul class="timeline-panel-ul">
                  <li><span class="importo">Self Study</span></li>
                  <li><span class="causale">팀미션을 향한, 또한 개인미션을 향한<br>개인 스터디 Start!!</span> </li>
                  <li>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 19/05/2017</small></p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-6  timeline-item">
          <div class="row">
            <div class="col-sm-11">
              <div class="timeline-panel credits">
                <ul class="timeline-panel-ul">
                  <li><span class="importo">3vs3은 Fun!!</span></li>
                  <li><span class="causale">두번째 만남<br>기획의 방향은 Fun And Fun And FUN!!</span> </li>
                  <li>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 19/05/2017</small></p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>


      </div>
      <div class="row timeline-movement">


        <div class="timeline-badge">
          <span class="timeline-balloon-date-day">12</span>
          <span class="timeline-balloon-date-month">MAY</span>
        </div>

        <div class="col-sm-offset-6 col-sm-6  timeline-item">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
              <div class="timeline-panel debits">
                <ul class="timeline-panel-ul">
                  <li><span class="importo">3v3 Team Mission</span></li>
                  <li><span class="causale">DevStudy 팀 미션<br>우리에게 주어진 미션.<br>팀소개 페이지를 만들어라!!</span> </li>
                  <li>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 13/05/2017</small></p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-6  timeline-item">
          <div class="row">
            <div class="col-sm-11">
              <div class="timeline-panel credits">
                <ul class="timeline-panel-ul">
                  <li><span class="importo">3vs3 만나다</span></li>
                  <li><span class="causale">DevStudy의 시작,<br>그리고 3vs3 팀원들과의 첫 만남.</span> </li>
                  <li>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 13/05/2017</small></p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</body>

</html>
