/* 사다리 */
.title, .summary{
    text-align: center;
}

.title{
    font-size: 50px;
    margin-top: 40px;
    color: #ffffff;
}

.summary{
    font-size:16px;
    margin-top: 10px;
    color: #cccccc;
}

body{
    background-color: #1B1F22;
    color:#fff;
}