#divKeywordGameStart{
    display: none;
}

#divTxtKeyword {
    margin-top: 50px;
    color:#fff;
}

#divKeyword{
    margin-top: 50px;
    margin-bottom: 50px;
}

#divMemberImg{
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}
.memberImg{
    width:100%;
    max-width:210px;
    vertical-align: middle;
    margin: 0 auto;
}

.gameResult p{
    text-align: right;
    margin-right: 300px;
    color: #cccccc;
}

.gameResult p:first-child{
    margin-top: 50px;
}

#matchCnt{
    color: red;
}